<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{subject}</title>
	</head>
	<body style="margin: 0; padding: 0; border: 0; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; background-color: {bodyBg};">
		<div style="border-bottom: 4px solid {headerBorder}; background-color: {headerBg};">
			<div style="width: 90%; max-width: 700px; height: 100px; margin: 0 auto; padding: 20px 5px; text-align: center; color: #fff;"><img src="{logo}" height="100" style="height: 100px;" alt=""></div>
		</div>
		<div style="width: 90%; max-width: 660px; margin: 0 auto; padding: 25px 20px; background-color: #fff;">
			{body}
		</div>
	</body>
</html>