<h2>Kedves {name}!</h2>
<p style="text-align: justify;">Köszönjük, hogy a Gablini autószalonok kereskedését választotta.</p>
<p style="text-align: justify;">A {carName} kiváló választás, kellemes utat kívánunk hozzá! Kérjük, ne feledje ellenőrizni a jármű szervizintervallumát és a használattól függően, de legkésőbb egy éven belül kérjük, keresse szakértő kollegánkat az éves kötelező szerviz miatt.</p>
{serviceDetails}
<p style="text-align: justify;"><img src="{signature}" alt="" style="width: 81px;" width="81"></p>