<h2>Kedves Admin!</h2>
<p style="text-align: justify;">A(z) <a href="{PATH_WEB}">{PATH_WEB}</a> oldalon <em>{date}</em>-kor új <strong>{type}</strong> történt a következő adatokkal:</p>

<h3><strong>{type} adatai</strong></h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{basic}
	{data}
</table>

<h3><strong>Meta adatok</strong></h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{meta}
</table>