<h2>Kedves Admin!</h2>
<p style="text-align: justify;">A kitöltött kérdőívben alacsony értékelést kaptunk. A kérdőív adatlapja: <a href="{qLink}" target="_blank">KATTINTSON IDE</a>.</p>
<h3>Alapadatok</h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{details}
</table>
<h3>Kérdések és válaszok</h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{answers}
</table>
<h3>Figyelt kérdések</h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{watched}
</table>