<h2>Kedves Admin!</h2>
<p style="text-align: justify;">Az alábbi táblázatok tartalmazzák, hogy a kérdőívek kitöltésekor az ügyfelek mit jelöltek meg arra a kérdésre, hogy honnan értesültek a cégről.</p>
<p style="text-align: justify;">A vizsgált intervallum: <strong>{date}</strong></p>
<p style="text-align: justify;">A feltett kérdés: <strong>{question}</strong></p>
<h3>Statisztika</h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{stats}
</table>
<h3>"Egyéb" lehetőség megjelölése esetén adott válaszok</h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{otherTexts}
</table>