<h2>Kedves {name}!</h2>
<p style="text-align: justify;">Köszönjük, hogy a Gablini Autószalonok kereskedését választotta.</p>
<p style="text-align: justify;">A {carName} kiváló választás. Kellemes utat kívánunk hozzá! Kérjük, ne feledje ellenőrizni a jármű szervizintervallumát és a használattól függően, de legkésőbb egy éven belül keresse szakértő kollegánkat az éves kötelező szerviz miatt.</p>
{serviceDetails}
<p style="text-align: justify;"><img src="{signature}" alt="" style="width: 81px;" width="81"></p>