<h2>Kedves Admin!</h2>
<p style="text-align: justify;">A mai napon (<strong>{date}</strong>) {premise}az alábbi esemény-változások történtek.</p>
<h3>Statisztika</h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{stats}
</table>
<h3>Megkeresések darabszámai állapot szerint</h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{statusCounts}
</table>
<h3>Megkeresések</h3>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000;">
	{rows}
</table>