<h2>Kedves Gazdag Ferenc!</h2>
<p>{days} nappal ezelőtt az alábbi Aston Martin munkalapok kerültek lezárására:</p>
<table>
	<table style='width: 100%; margin: 0 auto; border-collapse: collapse; border: 1px solid #000; font-size: 14px; line-height: 20px;'>
		<tr>
			<td style='padding: 5px 3px; border: 1px solid #000; font-weight: bold;'>Munkalap</td>
			<td style='padding: 5px 3px; border: 1px solid #000; font-weight: bold;'>Munkafelvevő</td>
			<td style='padding: 5px 3px; border: 1px solid #000; font-weight: bold;'>Ügyfél</td>
			<td style='padding: 5px 3px; border: 1px solid #000; font-weight: bold;'>E-mail</td>
			<td style='padding: 5px 3px; border: 1px solid #000; font-weight: bold;'>Telefon 1</td>
			<td style='padding: 5px 3px; border: 1px solid #000; font-weight: bold;'>Telefon 2</td>
			<td style='padding: 5px 3px; border: 1px solid #000; font-weight: bold;'>Hibaleírás</td>
		</tr>
		{tableRows}		
</table>
<p>Kérlek, vedd fel a kapcsolatot az ügyféllel, hogy biztosak legyünk benne, mindennel maradéktalanul elégedett volt.</p>